# Generated #
obj
target
build
bin
javadoc
site
dependency-reduced-pom.xml
maven-eclipse.xml
git.properties

# Files #
*.bat

# Project #
.metadata
.classpath
.externalToolBuilders
.gradle
.nb-gradle
.idea
.project
.settings
nbproject
atlassian-ide-plugin.xml
build.xml
nb-configuration.xml
*.iml
*.ipr
*.iws
